{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}
<body id="homepage">
    <div class="container">
            <div class="col-md-4 logoTop"><img src="{{asset('assets/images/logo/PAQ_DGSE.jpg')}}" alt="" style="width: 40%;"></div>
            <div class="col-md-4 logoTop"><img src="{{asset('assets/images/logo/LOGO UMA.png')}}" alt="" style="width: 20%;"></div>
            <div class="col-md-4 logoTop"><img src="{{asset('assets/images/logo/logo isamm.jpg')}}" alt="" style="width: 30%;"></div>
    </div>
    <div id="wrapper" style="position: relative;">
        <!-- header begin -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- logo begin -->
                       
                        <!-- logo close -->

                        <!-- small button begin -->
                        <span id="menu-btn"></span>
                        <!-- small button close -->

                        <!-- mainmenu begin -->
                        <nav>
                            <ul id="mainmenu">
                                <li><a class="active " href="#top">Home</a></li>
                                <li><a href="#section-about">About</a></li>
                                <li><a href="#section-presentation">Presentation</a></li>
                                <li><a href="#section-speakers">Speakers</a></li>
                                <li><a href="#section-schedules">Schedules</a></li>
                                <li><a href="#section-organizing">Organizing Committee</a></li>
                                <li><a href="#section-register">Register</a></li>								
                                <li><a href="#section-sponsors">Partners</a></li>
                            </ul>
                        </nav>

                    </div>
                    <!-- mainmenu close -->

                </div>
            </div>
        </header>
        <!-- header close -->

        <!-- content begin -->
        <div id="content" class="no-bottom no-top">

            <div id="top">            </div>

            <!-- section begin -->
            <section id="section-intro" class="full-height relative owl-slide-wrapper no-top no-bottom text-white" data-stellar-background-ratio=".2">
                <div class="overlay-gradient">
                    <div class="owl-slider-nav">
                        <div class="next"></div>
                        <div class="prev"></div>
                    </div>
                     <div id="custom-owl-slider" class="owl-slide" data-scroll-speed="2">
                        <div class="item">
                            <img src="{{asset('assets/images/fond.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{asset('assets/images/interne.png')}}" alt="">
                        </div>
                    </div>


                    <div class="center-y relative">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
									<div class="spacer-half sm-hide"></div>
                                    <div class="spacer-double sm-hide"></div>
                                    <h1 class="big">Games and Emerging Technologies <br>GE↑ 2021.</h1>
                                    <div class="spacer-single"></div>
                                    <div class="subtitle s2"><span><i class="fa fa-calendar-o white"></i>November 29th to 2nd, 2021</span><span><i class="fa fa-map-marker white"></i>Online</span></div>
                                </div>

                                <div class="col-md-6 text-center">
                                    <div class="inline-block md-float-right">
                                        <div class="spacer-single sm-hide"></div>
                                        <div class="spacer-double"></div>
                                        <div class="subtitle s3 mb20">Event Begin In</div>
                                        <div id="defaultCountdown" class="countdown-s1"></div>
                                        <div class="spacer-single"></div>
                                        <div class="clearfix"></div>
                                        
                                        <a href="#section-register" class="btn-custom scroll-to btn-primary">Be a Participant</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-about">
                <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2 class="wow fadeInUp">About</h2>
                                <div class="small-border wow fadeInUp" data-wow-delay=".2s"></div>
                            </div>
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <p class="lead wow fadeInUp">
                                    The GET2021 conference is the first international interdisciplinary online event organized by the Higher Institute of Multimedia Arts of Manouba (ISAMM) totally dedicated to Games and Emerging Technologies.
                                    During 5 days, from Monday November 29 to Friday December 3, renowned researchers from international universities and research institutes will present the current state of research as well as new trends and developments in the fields of virtual reality (VR), augmented reality (AR), Artificial Intelligence (AI), Game design and UX design.
                                    Register now to receive the code that will allow you to follow the talks and interact with sessions' speakers.
                                </p>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-presentation" class="no-top no-bottom text-light" data-stellar-background-ratio=".2">
                <div class="overlay-gradient pt80 pb80">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="wow fadeInUp">Presentation</h2>
                            <div class="small-border wow fadeInUp" data-wow-delay=".2s"></div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h3 class="wow">Game Design: Fernando De La Cruz</h3>
                            <p class="lead wow fadeInUp">Game Design is a broad field and encompasses many skills. This presentation will break down some of the more popular specialties in design and reference popular games to showcase what work is completed by programmers, designers, or artists. The aim of this talk is to demystify the term "Game Design" and to appreciate the technical elements that go into our favorite game experiences.</p>
                            <div class="spacer-single"></div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h3 class="wow fadeInUp">Maamar Haifa : “How Full Sail University is Creating New Pathways to Learning Using VR and AR”</h3>
                            <p class="lead wow fadeInUp">Join us for this session where we dive into the world of immersive learning with using VR and AR at Full Sail University, for teaching various math and physics concepts. We will demonstrate our unique approach to teaching online, blended and face-to-face, utilizing emerging technologies with learners.</p>
                            <div class="spacer-single"></div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h3 class="wow fadeInUp">Psychometric UX Measures in Gaming:  The Diversity of Emotion : Shawn Stafford and Rob Kennedy</h3>
                            <p class="lead wow fadeInUp">The UX group at Full Sail University embarked on a psychometric scale development project in 2015.  Our approaches took us through game motivation measures, big five-factor, and peer-reviewed individual differences measures from some of the most respected scientists in psychology.  In this session, we will explain our approach, cover some of our core research, and discuss some of the projects we have in the near future.  The audience should walk away with an appreciation of individual emotional differences within and across games and players.</p>
                            <div class="spacer-single"></div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h3 class="wow fadeInUp">Psychometric UX Measures in Gaming:  The Diversity of Emotion : Shawn Stafford and Rob Kennedy</h3>
                            <p class="lead wow fadeInUp">The UX group at Full Sail University embarked on a psychometric scale development project in 2015.  Our approaches took us through game motivation measures, big five-factor, and peer-reviewed individual differences measures from some of the most respected scientists in psychology.  In this session, we will explain our approach, cover some of our core research, and discuss some of the projects we have in the near future.  The audience should walk away with an appreciation of individual emotional differences within and across games and players.</p>
                            <div class="spacer-single"></div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h3 class="wow fadeInUp">The Immersive impact of thegraphic design in videogames and Multi-user virtual environments<br>
                            Communication by Wafa Bourkhis<br>
                            Assistant professor in fine arts at the High institute of multimedia arts of Manouba<br>
                            Doctor in sciences and techniques of arts from universities of Tunis (Tunisia) and Artois (France)</h3>
                            <p class="lead wow fadeInUp">Game design is a huge area that have an important impact on the video game industry. To have a good gameplay, the player needs many elements to be attracted by the video game.
                            A professional Game Designer must know what are the issues that could the player encounter to have a good game experience. In the other side, a successful videogame has the most immersive virtual environment, that deeply involve the player in another life.
                            According to Ernest Adams there is 3 kinds of immersion in videogames: tactical, strategic, and narrative immersion.To understand these kinds of immersion we should take a survey with player to have a clear idea about their user experience or UX.
                            Multi-user virtual environments are different from video games, they offer more interaction tools with users and the freedom to design their own virtual assets inworld. Second Life and the Open sims are a computer-simulated environments in which could designers improve their creativity and have much more immersion. 
                            In this communication we will describe how couldthe graphic design impact on player/users to have been immerged in a virtual environmentwhether by playing or by creating their own artworks.
                            </p>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-speakers">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="wow fadeInUp">Meet The Speakers</h2>
                            <div class="small-border wow fadeInUp" data-wow-delay=".2s"></div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 text-center">
                            {# <p class="lead wow fadeInUp">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p> #}
                            <div class="spacer-single"></div>
                        </div>

                        <div class="clearfix"></div>
                        
                        <div class="col-md-3 mt-2 wow fadeIn">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-1.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Fernando De La Cruz.jpg')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Fernando De La Cruz</h3>
                            </div>
                        </div>

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".2s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-2.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Georgios_N._Yannakakis.jpg')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Georgios N. Yannakakis</h3>
                            </div>
                        </div>
                        

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".4s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-3.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/gundolf-500x500.png')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Gundolf S. Freyermuth</h3>
                            </div>
                        </div>
                        

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".6s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-4.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Haifa Maamar.JPG')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Haifa Maamar</h3>
                            </div>
                        </div>

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".6s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-5.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Rebecca Leis.png')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Rebecca Leis</h3>
                            </div>
                        </div>

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".6s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-6.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/NEW-Kat Schrier.jpg')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Kat Schrier</h3>
                            </div>
                        </div>

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".6s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-7.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Curtis L Maughan.jpg')}}" class="img-responsive" alt="">
                                </figure>

                                <h3>Curtis L Maughan</h3>
                            </div>
                        </div>




                          <div class="col-md-3 mt-2 wow fadeIn">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-9 .html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Martzi Campos.jpg')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Martzi Campos</h3>
                            </div>
                        </div>

                          <div class="col-md-3 mt-2 wow fadeIn">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30" style="height: 80%;">
                                    <a class="simple-ajax-popup" href="team-details-8.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Med Ali Hammami.jpg')}}"  class="img-responsive" alt="">
                                </figure>
                                <h3>Med Ali Hammami</h3>
                            </div>
                        </div>
                          <div class="col-md-3 mt-2 wow fadeIn">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-10 .html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Wafa Bourkhis.jpg')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Wafa Bourkhis</h3>
                            </div>
                        </div>
                          <div class="col-md-3 mt-2 wow fadeIn">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-11.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Sean  Bouchard.jpg')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Sean  Bouchard</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- section close -->

             <!-- section begin -->
            <section id="section-schedules" class="no-top no-bottom text-light" data-stellar-background-ratio=".2">
                <div class="overlay-gradient pt80 pb80">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2 class="wow fadeInUp">Schedules</h2>
                                <div class="small-border wow fadeInUp" data-wow-delay=".2s"></div>
                            </div>
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <p class="lead wow fadeInUp"></p>
                                <div class="spacer-single"></div>
                            </div>

                            <div class="col-md-12 wow fadeInUp">
                                <div class="de_tab tab_style_4 text-center">
                                    <ul class="de_nav">
                                        <li class="active" data-link="#section-services-tab">
                                            <h3>Day <span>01</span></h3>
                                            <h4>29 November, 2021</h4>
                                        </li>
                                        <li data-link="#section-services-tab">
                                            <h3>Day <span>02</span></h3>
                                            <h4>30 November, 2021</h4>
                                        </li>
                                        <li data-link="#section-services-tab">
                                            <h3>Day <span>03</span></h3>
                                            <h4>01 December, 2021</h4>
                                        </li>
                                        <li data-link="#section-services-tab">
                                            <h3>Day <span>04</span></h3>
                                            <h4>02 December, 2021</h4>
                                        </li>
                                       
                                    </ul>

                                    <div class="de_tab_content text-left">

                                        <div id="tab1" class="tab_single_content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">03:00 - 04:00 PM</div>
                                                            <div class="sc-pic">

                                                            </div>
                                                            
                                                            <div class="sc-name">
                                                               
                                                                <span>Iskan Belhaj</span>
                                                                <br/><span>Houcem Ben Amor</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>Gaming:Ecosysteme Tunisien</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">4:00 - 6:00 PM</div>
                                                            
                                                            <div class="sc-name">
                                                                 <span>Sean and Martzi</span>
                                                              
                                                           </div>
                                                            <div class="sc-info">
                                                                <h3>Integrating Mechanics and Level Design</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">6:00 - 7:00 PM</div>
                                                           
                                                            <div class="sc-name">

                                                                <span>Yannakakis</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>The virtuos cycle of AI and games</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                   
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tab2" class="tab_single_content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">3:00 - 4:00 PM</div>
                                                            
                                                            <div class="sc-name">
                                                               
                                                                <span>Amin Akash </span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>The Full Sail University</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">4:00 - 6:00 PM</div>
                                                           
                                                            <div class="sc-name">
                                                              
                                                                <span>Fernando De La Cruz</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>Game design</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                        <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">4:00 - 6:00 PM</div>
                                                           
                                                            <div class="sc-name">
                                                              
                                                                <span>Mohammed Hammami</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3> AI and VR</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">6:00 - 7:00 PM</div>
                                                           
                                                            <div class="sc-name">
                                                                
                                                                <span>Shawn Stafford </span> </br>
                                                                <span>Rob Kennedy</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>UX</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tab3" class="tab_single_content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">3:00 - 4:00 PM</div>
                                                            
                                                            <div class="sc-name">
                                                                
                                                                <span>Haifa Maamar </span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>How Full Sail University is Creating New 
                                                                Pathways to Learning Using VR and AR </h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">4:00 - 6:00 PM</div>
                                                           
                    
                                                            <div class="sc-name">
                                                               
                                                                <span>Sean and Martzi</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>Bringing Gaming to the Real World</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">6:00 - 7:00 PM</div>
                                                          
                                                            <div class="sc-name">
                                                                
                                                                <span>Karen Shreider</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>Remake restore revive :how games can help us to repare our word</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tab4" class="tab_single_content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">3:00 - 4:00 PM</div>
                                                            
                                                            <div class="sc-name">
                                                                
                                                                <span>Curtis Maughan</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>(Player)adgency and opression: Simulating a fall of the Weimar republic inthrow the darkess of times</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">4:00 - 6:00 PM</div>
                                                            
                                                            <div class="sc-name">
                                                               
                                                                <span>Gundolf</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>Serious Games</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">4:00 - 6:00 PM</div>
                                                           
                                                            <div class="sc-name">
                                                                
                                                                <span>Wafa Boukhris</span>
                                                            </div>
                                                            
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">6:00 - 7:00 PM</div>
                                                           
                                                            <div class="sc-name">
                                                               
                                                                <span>Rebecca Leis</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>AI and Deep Learning</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tab5" class="tab_single_content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                                            <div class="sc-pic">
                                                                <img src="{{asset('assets/images/team/small/1.jpg')}}" class="img-circle" alt="">
                                                            </div>
                                                            <div class="sc-name">
                                                                <h4>Jack Williams</h4>
                                                                <span>Founder & CEO</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>WP Plugin Development</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                                            <div class="sc-pic">
                                                                <img src="{{asset('assets/images/team/small/2.jpg')}}" class="img-circle" alt="">
                                                            </div>
                                                            <div class="sc-name">
                                                                <h4>Rose Shipp</h4>
                                                                <span>Founder & CEO</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>Customize Your WordPress Theme</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                                            <div class="sc-pic">
                                                                <img src="{{asset('assets/images/team/small/3.jpg')}}" class="img-circle" alt="">
                                                            </div>
                                                            <div class="sc-name">
                                                                <h4>Sophie Lane</h4>
                                                                <span>Founder & CEO</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>Interview With WP Author</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="schedule-listing">
                                                        <div class="schedule-item">
                                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                                            <div class="sc-pic">
                                                                <img src="{{asset('assets/images/team/small/4.jpg')}}" class="img-circle" alt="">
                                                            </div>
                                                            <div class="sc-name">
                                                                <h4>Evan Stone</h4>
                                                                <span>Founder & CEO</span>
                                                            </div>
                                                            <div class="sc-info">
                                                                <h3>Close Event Ceremony &amp; Doorprize</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            {# <section id="section-organizing" class="no-top no-bottom text-light" data-stellar-background-ratio=".2">
                <div class="overlay-gradient pt80 pb80">
                  <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="wow fadeInUp">Organizing committee</h2>
                            <div class="small-border wow fadeInUp" data-wow-delay=".2s"></div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 text-center"> #}
                            {# <p class="lead wow fadeInUp">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p> #}
                            {# <div class="spacer-single"></div>
                        </div>

                        <div class="clearfix"></div>
                        
                        <div class="col-md-3 mt-2 wow fadeIn">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-1.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Fernando De La Cruz.jpg')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Karim Azizi</h3>
                            </div>
                        </div>

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".2s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-2.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Georgios_N._Yannakakis.jpg')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Hela Sassi</h3>
                            </div>
                        </div>
                        

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".4s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-3.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/gundolf-500x500.png')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Hosni Ajlani</h3>
                            </div>
                        </div>
                        

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".6s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-4.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Haifa Maamar.JPG')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Skander Bel Hadj</h3>
                            </div>
                        </div>

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".6s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-5.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Rebecca Leis.png')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Amine Kchiche</h3>
                            </div>
                        </div>

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".6s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-6.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/NEW-Kat Schrier.jpg')}}" class="img-responsive" alt="">
                                </figure>
                                <h3>Kat Schrier</h3>
                            </div>
                        </div>

                        <div class="col-md-3 wow fadeIn" data-wow-delay=".6s">
                            <div class="profile_pic text-center sm-mb30">
                                <figure class="picframe s2 mb30">
                                    <a class="simple-ajax-popup" href="team-details-7.html">
                                        <span class="filter"></span>
                                    </a>
                                    <img src="{{asset('assets/images/participant/Curtis L Maughan.jpg')}}" class="img-responsive" alt="">
                                </figure>

                                <h3>Curtis L Maughan</h3>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </section> #}
            <!-- section close -->

            <!-- section begin -->
            <section id="section-register" class="no-top no-bottom text-light" data-stellar-background-ratio=".2">
                <div class="overlay-gradient pt80 pb80">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2 class="wow fadeInUp">Register</h2>
                                <div class="small-border wow fadeInUp" data-wow-delay=".2s"></div>
                            </div>
                            <div class="col-md-6 col-md-offset-3 text-center">
                                {# <p class="lead wow fadeInUp">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                                <div class="spacer-single"></div> #}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 wow fadeInUp">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="register-with-map" class="bg-white">
                                            <div name="contactForm" id='contact_form' class="float-form padding60 pt40 form-s1">
                                            {{ form_start(registrationForm) }}
                                                <div class="field-set">
                                                    {{ form_widget(registrationForm.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                                                </div>
                                                <div class="field-set">
                                                    {{ form_widget(registrationForm.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                                                </div>
                                                <div class="field-set">
                                                   {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                                                </div>
                                                <div class="field-set">
                                                   {{ form_widget(registrationForm.telephone, { 'attr': {'class': 'form-control', 'placeholder': 'Téléphone'} }) }}
                                                </div><br>							
												<div class="field-set">
                                                    {{ form_widget(registrationForm.etablissement, { 'attr': {'class': 'form-control', 'placeholder': 'Établissement'} }) }}
												</div>

                                                <div class="spacer-half"></div>
                                                    <button type='submit' class="btn btn-custom color-2">Register</button>
                                                {% for flashError in app.flashes('verify_email_error') %}
                                                    <div id='mail_fail' class='error' role="alert">{{ flashError }}</div>
                                                {% endfor %}
                                                {# <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                                <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.</div> #}
                                            {{ form_end(registrationForm) }}
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-double"></div>
                    </div>
                </div>
            </section>
            <!-- section close -->
            
            <!-- section begin -->
            <section id="section-sponsors" class="no-top no-bottom text-light" data-stellar-background-ratio=".2">
                <div class="overlay-gradient pt80 pb80">
                    <div class="container relative">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2 class="wow fadeInUp">Partners</h2>
                                    <div class="small-border wow fadeInUp" data-wow-delay=".2s"></div>
                                    <div class="spacer-single"></div>
                                </div>

                                <div class="col-md-12 text-center wow fadeInUp">
                                    <div class="owl-carousel owl-sponsors" >
                                        <div class="item"><img src="{{asset('assets/images/logo/PAQ_DGSE.jpg')}}" alt=""></div>
                                        <div class="item"><img src="{{asset('assets/images/logo/LOGO UMA.png')}}" alt=""></div>
                                        <div class="item"><img src="{{asset('assets/images/logo/logo isamm.jpg')}}" alt=""></div>
                                        <div class="item"><img src="{{asset('assets/images/logo/Full_Sail_University_Logo.jpg')}}" alt=""></div>
                                        <div class="item"><img src="{{asset('assets/images/logo/ieee_tunisia.jpg')}}" alt=""></div>
                                        <div class="item"><img src="{{asset('assets/images/logo/logos_cologne game LAB.png')}}" alt=""></div>
                                        <div class="item"><img src="{{asset('assets/images/logo/University_of_Malta_Coat_of_Arms.svg')}}" alt=""></div>
                                        <div class="item"><img src="{{asset('assets/images/logo/US Embassy.png')}}" alt=""></div>
                                        <div class="item"><img src="{{asset('assets/images/logo/USC.png')}}" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

        </div>
        <!-- content close -->

        <!-- footer begin -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 sm-text-center sm-mb10">
                        {# <div class="mt10">&copy; Copyright</div> #}
                    </div>

                    {# <div class="col-md-6 text-right sm-text-center">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                        </div>
                    </div> #}
                </div>
            </div>

        </footer>
        <!-- footer close -->

        <a href="#" id="back-to-top"></a>
        <div id="preloader">
            <div class="preloader1"></div>
        </div>
		
		<div id="floating-icon" class="sm-hide">
			<a href="#section-register" class="scroll-to bg-orange"><i class="fa fa-pencil"></i> Register</a>
		</div>

    </div>

{% endblock %}